@import "./reset-sign.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Kanit:wght@400;500;600&family=Poppins:wght@400;500;700&display=swap');


:root {
    --blackpure: #000;
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;

    --text-color: var(--black);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);

    --title-1: var(--accent);

    --project-card-bg: var(--white);
    --project-card-text: var(--black);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}


html, body {
    font-family: 'Kanit', sans-serif;
    display : flex;
    background-color: #55706C;
    flex-direction: column;
    min-height: 100vh;
}

/* nav */


.container {
    max-width: 1900px;
    padding: 0, 139;
    margin: 0 auto;
}

.nav {
    padding: 18px 0;
    background-color: #363A38;
    color: white;
}
.logo strong {
    color: hsl(0, 100%, 100%);
    font-family: Kanit;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.back-gora{
position: absolute;
left: 0;
right: 0;
bottom: 0;
width: 100%;
left: auto;
pointer-events: none;
user-select: none;


}

.block{
    padding: 43px 0 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%; /* Set a width if you want a fixed size block */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    }

